select {
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    outline: none;
    margin-top: 10px;
}

.return_left {
    width: 15px;
    height: 60px;
    background: #ccc;
    position: absolute;
    right: -15px;
    top: 50%;
    cursor: pointer;
}

.return_left>.r_left {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 10px solid #999;
    margin-top: 24px;
    margin-left: 2px;
}

.r_right {
    transform: rotate(180deg);
}

.radio_box {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 10px;
}

.radio_box label {
    margin-right: 10px;
}

label input {
    margin-right: 10px;
}

.asy_btn {
    color: rgb(255, 255, 255);
    background-color: rgb(90, 152, 222);
    border-color: rgb(90, 152, 222);
    position: absolute;
    right: 30px;
}

.asy_btn:hover {
    background: #0a6999;
}

.table_box {
    width: 98%;
    min-height: 600px;
    background: #fff;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table tr th {
    background-color: rgb(245, 250, 254);
    position: relative;
}

table tr th>div {
    width: 10px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 3px;
}

table tr th>div .th_top {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #ccc;
    margin-bottom: 4px;
}

table tr th>div .th_bot {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #ccc;
}

table tbody tr:hover {
    background: #f5f5f5;
}

table,
td,
th {
    border: 1px solid #ccc;
    height: 25px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.up_down {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.schedule {
    /*width: 100%;*/
    height: 70%;
    background-color: rgb(90, 152, 222);
    border-radius: 0 2px 2px 0;
}

.schedule p {
    position: absolute;
    left: 46%;
    /*line-height: 100%;*/
}

table tr td {
    width: 100%;
    position: relative;
}